@import "bootstrap.scss";
 
$color1: $gray-darker;
$color2: $brand-primary;
$color3: $brand-info;

*:hover {
  @include transition(background-color 0.2s linear, color 0.2s linear, border 0.2s linear);
}

//type
.text-large { font-size: $font-size-large; }
.text-small { font-size: $font-size-small; }

//progress bar
.progress {
  &.no-bg, &.no-background {
    background: none;
    @include box-shadow(none);
  }
  &.flip-margin {
    margin-bottom: 0;
    margin-top: 20px;
  }
}

//layout
.no-margin  { margin: 0 !important; }
.no-padding { padding: 0 !important; }


html {
  background: url("../images/background.jpg") fixed no-repeat;
}

body {
  background: none;
  .shadow-wrap {
    margin-top: 20px;
    border-radius: 4px;
    @include box-shadow(2px 0px 15px 3px rgba(0,0,0,0.3));
  }
}

.container {
  //http://stackoverflow.com/questions/17943264/how-to-use-twitter-bootstrap-3-for-non-responsive-site
  width: 1300px !important;   
}

.navbar {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &.navbar-primary {
    margin-bottom: 0;
    height: 60px;
    background: $color1;
    .navbar-nav li {
      &.active {
        a { 
          color: $color2;
          background: none;
        }
      }
      a {
        padding-top: 20px;
        padding-bottom: 19px;
        color: white;
        &:hover { 
          color: $color2; 
          background: none;
        }
      }
    }
  }
  .navbar-brand {
    padding: 10px 0;
    margin-left: 50px !important;
    img { height: 45px; }
  }
}//.navbar 
 
main {
  min-height: 500px;
  padding-bottom: 20px;
  border-bottom-right-radius: $border-radius-base;
  border-bottom-left-radius: $border-radius-base;
  background: url("../images/main-bg-with-white.png") repeat-y -250px;;
  //.side-nav
  nav.side-nav {
    @extend .col-xs-2;
    .nav {
      //background: lighten($color1, 7%); //#343434
      text-align: center;
      li {       
        &.active { 
          a { 
            color: $color1;
            background: white;
            img { background: $color2; } 
          }
          &.dashboard         img { background: $color3; }
          &.retail-analytics  img { background: $color2; }
          &.sales-analytics   img { background: $color2; }
          &.social-wifi       img { background: $color2; }
          &.customer-profiles img { background: $color2; }
        }
        &:hover {
          &.dashboard         img { background: $color3; }
          &.retail-analytics  img { background: $color2; }
          &.sales-analytics   img { background: $color2; }
          &.social-wifi       img { background: $color2; }
          &.customer-profiles img { background: $color2; }
        }
        a {
          color: $gray-light;
          border-bottom: 1px solid rgba(255,255,255,0.1);
          padding-top: 15px;
          padding-bottom: 15px;
          line-height: 1.8;
          &:hover {
            color: $color1;
            background: white; 
            border-bottom: 1px solid white;           
          }          
          img {
            border-radius: 40px;
            padding: 6px;
            background: lighten($gray, 5%);
          }
        }//a        
      }//li
    }//.nav
  }//.side-nav

  //main-section
  section.main-section {
    @extend .col-xs-10;
    padding: 0 20px;
    .section-heading {
      @extend .row;
      margin-top: 20px;
      h1,h2,h3 { 
        @extend .col-xs-4;
        margin-top: 0;
      }
      nav.secondary-nav { 
        @extend .col-xs-8;
        .nav {
          @extend .nav-pills;
          float: right;
          font-size: 13px;
          a {
            padding: 5px 15px;
            color: $color1;
          }
        }//nav
        .daterange-nav {
          @extend .form-inline;
          padding: 5px 0;
          float: right;
          label {
            font-size: 85%;
            font-weight: normal;
            padding: 0 5px;
          }
          a { color: $color3;}
          .form-control { 
            @extend .input-sm; 
            width: 200px;
          }
        }//.daterange-nav
        .pull-right {
          .dropdown-menu {
            right: 0;
            left: auto;
          }
        }
      }//.secondary-nav
    }//.section-heading

    .section-body {
      border: 1px solid lighten($color1, 45%); 
      h1,h2,h3,h4,h5,h6 { 
        margin-top: 5px;
        &.title-thin {
          margin-top: 0;
          margin-bottom: -15px;
        }
      }
      .panel {
        margin-bottom: 0;
        @include box-shadow(none);        
        border-radius: 0;        
      }
      .border-top    { border-top: 1px solid lighten($color1, 45%); }
      .border-right  { border-right: 1px solid lighten($color1, 45%); }
      .border-left   { border-left: 1px solid lighten($color1, 45%); }
      .border-bottom { border-bottom: 1px solid lighten($color1, 45%); }
      // & > .row > [class^="col-"]:last-child .panel { border-right: none; }
    }//.section-body

  }//.main-section
}//main

footer {  
  margin-top: 10px;
  color: white;
  font-size: 85%;
  a, a:hover {
    color: $color3;
  }
}


/** Data Blocks **/
.data-block {
  text-align: center;
  margin: 20px auto;
  padding-left: 15px; 
  min-height: 24px;
  width: 135px;
  font-size: $font-size-small;
  .title {
    font-size: $font-size-base - 1;
  }
  .value {
    font-size: $font-size-base * 1.5;
    font-weight: bold;
    line-height: 1.2;
    &.normal { font-weight: normal; }
  }
  .change {
    &.plus, &.up    { color: $brand-success; }
    &.minus, &.down { color: $brand-danger; }
  }
  &.no-icon         { padding-left: 0 !important; }
  &.wide            { width: 200px; }
  &.narrow          { width: 95px; }
  &.text-left       { text-align: left !important; padding-left: 30px; }
  &.text-right      { text-align: right !important; }
  &.walk-by-traffic { background: url("../images/data-walk-by.png")          no-repeat; }
  &.capture-rate    { background: url("../images/data-capture-rate.png")     no-repeat; }
  &.visitor-traffic { background: url("../images/data-visitor-traffic.png")  no-repeat; }
  &.dwell-time      { background: url("../images/data-dwell-time.png")       no-repeat; }
  &.new-visitors    { background: url("../images/data-new-visitors.png")     no-repeat; }
  &.repeat-visitors { background: url("../images/data-repeat-visitors.png")  no-repeat; }
  &.retention-rate  { background: url("../images/data-retention-rate.png")   no-repeat; }
  &.visit-frequency { background: url("../images/data-visit-frequency.png")  no-repeat; }
}


/** Custom Calendar **/
.custom-calendar {
  ul {
    width: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      float: left;
      margin: 2px;
      //background-color: #eee;
      border-radius: 3px;
    }    
  }//ul

  &.display-month {
    .days-of-week {
      @extend .clearfix;
      width: 280px;
      font-size: $font-size-base - 1;
      span { 
        display: block;
        float: left;
        width: 40px;
        text-align: center;
      }
    }
    ul {
      li {
        width: 36px;
        height: 36px;
        padding: 12px 2px 2px 3px;
        font-size: $font-size-small * 0.75; //~9px
        font-weight: bold;
      }
    }
  }
}//.custom-calendar

/** Tablesorter **/
table.tablesorter {
  width: 100%;
  thead tr {
    .header {
      background-image: url(../images/tablesorter/bg.gif);
      background-repeat: no-repeat;
      background-position: center left;
      cursor: pointer;
    }
    .headerSortUp {
      background-image: url(../images/tablesorter/asc.gif);
    }
    .headerSortDown {
      background-image: url(../images/tablesorter/desc.gif);
    }
  }
}

/** Table of metrics **/
//display footer as normal row
.table-metrics {
  font-size: $font-size-small - 2;   
  thead {
    background: lighten($color1, 15%);
    color: white;
    font-size: $font-size-small; 
    
    th { border: none !important; vertical-align: middle !important;}
  }
  tfoot {
    display: table-row-group; 
    background: lighten($color1, 15%);
    color: white;
    td { border: none !important; }
  }
  td:nth-child(2) { 
    text-align: left; 
    font-size: $font-size-base;
  } 
  th, td { text-align: center;}
  tr, td {
    &.up, &.plus, &.success    { background-color: lighten($brand-success, 30%) !important; }
    &.down, &.minus, &.danger  {background-color: lighten($brand-danger, 30%) !important; }
    vertical-align: middle !important;
  }
  td > span {
    display: inline-block;
    position: relative;
  }
  .id { 
    position: relative;
    padding-left: 0;
    height: 55px;
    font-size: $font-size-base; 
    color: white;
    //triangle bg
    div {
      position: absolute;
      top: 0;
      width: 0; 
      height: 0; 
      border-bottom: 27px solid transparent;  /* left arrow slant */
      border-top: 27px solid transparent; /* right arrow slant */
      border-left: 30px solid $color3; /* bottom, add background color here */
      font-size: 0;
      line-height: 0;
    }
  }
  .store    { font-size: $font-size-base; }
  .location { font-size: $font-size-small; color: $gray; }
  .value    { font-size: $font-size-large; }  
  .time {
    margin: 0 10px;
    .value {}
    .unit {
      position: absolute;
      left: -10px;
      right: -10px;
      top: 17px;
      font-size: $font-size-small - 2;
    }
  }
  .change {
    font-size: $font-size-small;
    margin: 0 5px;
    &.plus, &.up    { 
      color: $brand-success; 
      i { margin-top: -10px; }
    }
    &.minus, &.down { 
      color: $brand-danger; 
      i { margin-top: 12px; }
    }
    i {
      font-size: $font-size-base;
      position: absolute;
      left: 0;
      right: 0;
    }
  } //.change

  &.tablesorter {
    thead tr {
      .header {
        background-image: url(../images/tablesorter/bg-white.gif);
      }
      .headerSortUp {
        background-image: url(../images/tablesorter/asc-white.gif);
      }
      .headerSortDown {
        background-image: url(../images/tablesorter/desc-white.gif);
      }
    }
  }
}//.table-metrics




